.sliderContainer{
    display: flex;
    width: 100%;
    animation: rotar 3s infinite;
}

.sliderContainer__div{
    width: 100vw;
    
}

.imagesMap{
    width: 100vw;
}

@keyframes rotar {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100vw);}
}